@tailwind base;
@tailwind components;
@tailwind utilities;
 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Forzar diseño vertical en pantallas muy panorámicas */
@media (max-aspect-ratio: 16/9) {
  .memory-container {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start !important;
  }
}